body{
	background: black;
	height: 600px;
}

/*Starting Menu*/
#menu{
	position: absolute;
	top:20%;
	left: 35%;
	width: 30%;
	height: 220px;
	background: grey;
	border: 3px solid #00ffff;
	border-radius: 3%;
}
h2 {
	font-family: 'Sigmar One';
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
}
h3 {
	font-family: 'Sigmar One';
	text-align: center;
	margin: 0 auto;
}
#solo:hover{
	color: #00ff00;
}
#team:hover{
	color: #00ffff;
}
#menuImage1{
	margin-top: -10%;
	margin-left: 10%;
	width:30%;
}
#menuImage2{
	margin-left: 50px;
	width: 75px;
}
#menuImage3{
	width: 75px;
}

/*Scoreboard*/
#scoreboard{
	font-family: 'Sigmar One';
	left:90%;
	position: absolute;
	color: white;
	border: 1px solid #00ff00;
	padding: 3px 10px 3px 10px;
	border-radius:2px;
}
#score{
	font-family: 'Sigmar One';
	color: white;
}

/*Level*/
#level{
	font-family: 'Sigmar One';
	left:2%;
	position: absolute;
	color: white;
	border: 1px solid #00ffff;
	padding: 3px 10px 3px 10px;
	border-radius:2px;
}
#levelnumber{
	font-family: 'Sigmar One';
	color: white;
}


/*  audioNo is the message displayed if the audio is not browser compatible
 *  I'm not very confident that it works -- test on IE*/
#audioNo{ 
	color: white;
	top: 300px;
}
#audio{
	position: absolute;
	width: 30%;
}

/*player ships*/
#ship1{
	top: 500px;
	left:80%;
}
#ship2{
	top: 500px;
	left:10%;
}
.ship{
	position: absolute;
	height: 75px;
	width: 75px;
	z-index: 1;
}
.player{
	position: relative;
	width: 100%;
}

/*lasers*/
#laser1{
	top: 30%;
	left: 50%;
}
#laser2{
	top: 30%;
	left: 40%;
}
.laser{
	height: 30px;
	width: 3px;
	background: red;
	position: absolute;
	z-index: 0;
	border: 1px solid red;
	border-radius: 1px;
}

/*Alien ships*/
#a1{

}
#a2{
	
}
#a3{
	
}

.alien1{ 
	position: relative;
	width: 100%;
}

.alien{
	position: absolute;
	width: 50px;
	z-index: 1;
}