body{
	background: black;
}
div{
	position:absolute;
	z-index: -1;
}
#canvas{
	left: 15%;
	height: 600px;
	width: 70%;
	position: absolute;
	z-index: 0;
	background: red;
	opacity: 0.3;
}

#ship{
	height: 100px;
	width: 100px;
	background: blue;
	left:100px;
	z-index: 0;
}

.box{
	background: red;
	height: 100px;
	width: 100px;
	left: 400px;
	top: 400px;
	z-index: 0;
}