body{
	background: black;
	height: 600px;
}
div#video{
	width: 95%;
	position:absolute;
	z-index: -1;
}

#awesome-drawing{
	position: relative;
	width: 100%;
}

#ship{
	position: absolute;
	height: 100px;
	width: 100px;
	left:100px;
	z-index: 1;
}

.box{
	position:absolute;
	background: red;
	height: 100px;
	width: 100px;
	left: 400px;
	top: 400px;
	z-index: 0;
}